body {
    background: #f9e933;
    /* margin: auto;
    width: 855px; */
    }
    header, main, footer {
        min-width: 855px;
    }
    header {
        background: white;
        }
    main {
        background: white;
        }      
    header .container, main .container, footer .container {
            max-width: 855px;
            margin: auto;
    }